<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxLFtLc8Vi8cGC9-bdvcSkY4_KPhlFU6E</string>
	<key>GCM_SENDER_ID</key>
	<string>663255172926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitalTicketsMobileStaging</string>
	<key>PROJECT_ID</key>
	<string>digitaltickets-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>digitaltickets-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663255172926:ios:c71b254aa97e2d044bce6f</string>
</dict>
</plist>